@page "/inventory-list"
<section class="section-content padding-y bg">
    <div class="container">

        <div class="horizontal">
            <div class="table">
                <div class="row">
                    <aside class="col-lg-12">
                        <div class="card">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Product</th>
                                        <th scope="col">Category</th>
                                        <th scope="col" width="120">Stock</th>
                                        <th scope="col" width="120">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in inventory){
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img src="@i.Image" class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a class="title text-dark">@i.Name</a>
                                                    <p class="text-muted small">@i.Description <br> Brand: @i.Brand</p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <p class="text-muted small">@i.Category</p>
                                        </td>
                                        <td>
                                            <p class="text-muted small">@i.Quantity</p>
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">GHS @String.Format("{0:0,0.0}",i.TotalAmount)</var>
                                                <small class="text-muted"> GHS @String.Format("{0:0,0.0}",i.Price) each </small>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div> <!-- card.// -->
                    </aside> <!-- col.// -->
                </div>
            </div>
        </div>
    </div>
</section>



@code {
    IList<GetInventoryResponse> inventory = new List<GetInventoryResponse>();
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<Result<GetInventoryResponse[]>>($"api/Product/GetProductsInventory");
        if (result is not null && result.IsSucessful)
        {
            inventory = result.Value;
        }
    }
}
