@page "/orders"
@foreach (var o in orders){
    <section class="section-content padding-y bg">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">Order ID: @o.CheckoutId</strong>
                            <span>Order Date: 16 December 2018</span>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                    <div class="col-md-3">
                                    <h6 class="text-muted">Order Staus:</h6>
                                    </div>
                                    <div class="col-md-3">
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" checked="" type="radio" name="@o.CheckoutId" value="option1">
                                                <span class="custom-control-label"> Order Received </span>
                                            </label>
                                    </div>
                                    <div class="col-md-3">
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" type="radio" name="@o.CheckoutId" value="option2">
                                                <span class="custom-control-label"> Order Delivered </span>
                                            </label>
                                    </div>
                                    <div class="col-md-3">
                                            <label class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" type="radio" name="@o.CheckoutId" value="option3">
                                                <span class="custom-control-label"> Order Rejected </span>
                                            </label>
                                    </div>
                                    </div>
                                    <p>
                                        <h6 class="text-muted">Delivery Details:</h6>
                                    </p>
                                    <p>
                                        @o.FirstName @o.LastName <br>
                                        Phone @o.Contact Email: @o.Email <br>
                                        @o.Location <br>

                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Payment</h6>
                                    <span class="text-success">
                                        <i class="fab fa-lg fa-cc-visa"></i>
                                        Visa  **** 4216
                                    </span>
                                    <p>
                                        Subtotal: GHS @String.Format("{0:0,0.0}",o.CheckoutItems.Sum(x=>x.TotalPrice)) <br>
                                        Shipping fee:  GHS 0 <br>
                                        <span class="b">Total:  GHS @String.Format("{0:0,0.0}",o.CheckoutItems.Sum(x=>x.TotalPrice)) </span>
                                    </p>
                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                        <div class="table-responsive">
                            <table class="table table-hover">
                              @foreach(var item in o.CheckoutItems)
                              {
                                <tr >
                                    <td width="65">
                                        <img src="@item.Image" class="img-xs border">
                                    </td>
                                    <td>
                                        <p class="title mb-0">@item.Name </p>
                                        <var class="price text-muted">GHS @String.Format("{0:0,0.0}",item.TotalPrice)</var>
                                    </td>
                                    <td> Brand <br> @item.Brand </td>
                                    <td width="250">
                                            <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input"> <div class="custom-control-label"> Rejected </div> </label>
                                    </td>
                                </tr>
                              }
                            </table>
                        </div> <!-- table-responsive .end// -->
                    </article> <!-- order-group.// -->
                </main>
            </div>
        </div>
    </section>
}

@code {
    IList<Order> orders = new List<Order>();
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<Result<Order[]>>($"api/Checkout/GetCheckoutItems");
        if (result is not null && result.IsSucessful)
        {
            orders = result.Value;
        }
    }
}
